[submodule "apps/binbo"]
	path = apps/binbo
	url = git@github.com:DOBRO/binbo.git
	branch = master
[submodule "apps/business-process-engine"]
	path = apps/business-process-engine
	url = git@github.com:synrc/bpe.git
	branch = master
[submodule "apps/n2o-distributed-app-server"]
	path = apps/n2o-distributed-app-server
	url = git@github.com:synrc/n2o.git
	branch = master
[submodule "apps/typhoon"]
	path = apps/typhoon
	url = https://github.com/fogfish/typhoon
	branch = master
[submodule "apps/couchdb"]
	path = apps/couchdb
	url = git@github.com:couchbase/couchdb.git
	branch = master
[submodule "apps/tinymq"]
	path = apps/tinymq
	url = git@github.com:ChicagoBoss/tinymq.git
	branch = master
